body {
	background: url(images/lobby-screen.jpg); 
	background-size: 1920px 1080px;
	background-repeat: no-repeat; 
	margin-top: 0px; 
	margin-left: 0px;
}

#clock {
	margin-top:150px;
	height: 30px;
}

#table {
    margin-top: 140px; 
	margin-left: 60px; 
}

#calendar {
	height: 507px; 
	width: 424px; 
	background-color:#00964E; 
	z-index: 1; 
	padding-top: 15px;
}

#news-div {
	margin-top: 94px; 
	margin-left: 200px; 
	height: 82px; 
	width: 1650px; 
	background-color:#00964E; 
	z-index: 2;
}

#news-font {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
	color: white; 
	font-size:38px;
}

.timeblock {
	margin-left: 15px; 
	width: 390px; 
	height: 36px;
}

.timeblock h2 {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
	color: white;
}

.eventblock {

}

.eventblock h3 {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.trafficblock {

}

.trafficblock h1{
	
}

.weatherblock {

}